name: 构建 Docker镜像

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      tag:
        description: '构建的版本号'
        required: true
        default: 'test'

permissions:
  contents: read

jobs:
  build-images:
    name: 构建镜像 ${{ matrix.image-type }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image-type: [openvpn, admin]
        include:
          - image-type: openvpn
            dockerfile: Dockerfile.openvpn
            version-tag: ''  # 版本标签前缀（空）
            latest-tag: 'latest'  # 最新标签
          - image-type: admin
            dockerfile: Dockerfile.ovpn-admin
            version-tag: 'admin-'  # 版本标签前缀
            latest-tag: 'admin-latest'  # 最新标签
    
    steps:
      - name: 检查代码
        uses: actions/checkout@v4

      - name: 设置 QEMU
        uses: docker/setup-qemu-action@v3

      - name: 设置 Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: 获取 Image Tag
        run: |
          if [ x${{ github.event.inputs.tag }} == x"" ]; then
            echo "TAG_NAME=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
          else
            echo "TAG_NAME=${{ github.event.inputs.tag }}" >> $GITHUB_ENV
          fi

      - name: 登录 DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: 设置 Image Tags
        run: |
          echo "TAG_VERSION=${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}:${{ matrix.version-tag }}${{ env.TAG_NAME }}" >> $GITHUB_ENV
          echo "TAG_LATEST=${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}:${{ matrix.latest-tag }}" >> $GITHUB_ENV

      - name: 打印构建信息
        run: |
          echo "构建类型: ${{ matrix.image-type }}"
          echo "使用Dockerfile: ${{ matrix.dockerfile }}"
          echo "版本标签: ${{ env.TAG_VERSION }}"
          echo "最新标签: ${{ env.TAG_LATEST }}"

      - name: 编译并推送镜像
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./${{ matrix.dockerfile }}
          platforms: linux/amd64
          push: true
          tags: |
            ${{ env.TAG_VERSION }}
            ${{ env.TAG_LATEST }}
