name: 构建 Docker镜像  # Actions名称，docker

on:  # 定义触发工作流的事件
  release:  # 当发布新的GitHub release时触发
    types: [ published ]  # 当发布新的GitHub release时触发
  workflow_dispatch:  # 手动触发
    inputs:  # 输入的参数
      tag:  # 输入的标签
        description: '构建的版本号'  # 手动触发时输入的标签描述
        required: true  # 必须输入
        default: 'test'  # 默认标签为'test'

permissions:  # 工作流权限
  contents: read  # 工作流需要读取仓库内容的权限

# 可以有多个工作流,多个工作流依次运行
# 一个工作流运行由一个或多个作业组成，这些作业可以顺序或并行运行
jobs:  # 工作流作业
  build-images:  # 作业名称,唯一标识
    name: 构建镜像 ${{ matrix.image-type }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image-type: [openvpn, admin]  # 定义两种镜像类型
        include:
          - image-type: openvpn
            dockerfile: Dockerfile.openvpn
            tag-suffix: ''  # 默认后缀
          - image-type: admin
            dockerfile: Dockerfile.ovpn-admin
            tag-suffix: '-admin'  # 添加admin后缀
    
    steps:
      # 检出代码
      - name: 检查代码是否在工作目录  # 步骤名称
        uses: actions/checkout@v4  # 引用流程
        # with:  # 参数
        #   fetch-depth: '0'  # 获取深度，0表示获取所有提交记录

      # 设置QEMU，用于构建多平台镜像
      - name: 设置 QEMU  # 步骤名称
        uses: docker/setup-qemu-action@v3  # 引用流程

      # 设置Docker Buildx，用于构建和推送多平台镜像
      - name: 设置 Docker Buildx  # 步骤名称
        uses: docker/setup-buildx-action@v3  # 引用流程

      - name: 获取 Image Tag
        run: |
          if [ x${{ github.event.inputs.tag }} == x"" ]; then
            echo "TAG_NAME=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
          else
            echo "TAG_NAME=${{ github.event.inputs.tag }}" >> $GITHUB_ENV
          fi

      # 登录到Docker Hub
      - name: 登录 DockerHub  # 步骤名称
        uses: docker/login-action@v3  # 引用流程
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}  # Docker Hub用户名(需在secrets中配置)
          password: ${{ secrets.DOCKERHUB_PASSWORD }}  # Docker Hub密码(需在secrets中配置)

      - name: 设置 Image Tags
        run: |
          echo "TAG=${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}:${{ matrix.tag-prefix }}${{ env.TAG_NAME }}" >> $GITHUB_ENV
          echo "TAG_LATEST=${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}:${{ matrix.tag-prefix }}latest" >> $GITHUB_ENV

      - name: 编译并推送镜像
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./${{ matrix.dockerfile }}
          platforms: linux/amd64  # 构建的平台(测试构建,少一些快一点),多架构一般取决于使用的基础镜像支持架构
          # platforms: linux/amd64,linux/386,linux/arm64,linux/arm/v7  # 构建的平台(正式构建)
          push: true
          tags: |
            ${{ env.TAG }}
            ${{ env.TAG_LATEST }}
